<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>controller.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyServlet</servlet-name>
        <servlet-class>controller.CompanyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterHiredServlet</servlet-name>
        <servlet-class>controller.RegisterHiredServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobDetailsServlet</servlet-name>
        <servlet-class>controller.JobDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddJobServlet</servlet-name>
        <servlet-class>controller.AddJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchJobServlet</servlet-name>
        <servlet-class>controller.SearchJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDeleteServlet</servlet-name>
        <servlet-class>controller.PostDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPostJobServlet</servlet-name>
        <servlet-class>controller.EditPostJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCompany</servlet-name>
        <servlet-class>controller.SearchCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EducationServlet</servlet-name>
        <servlet-class>controller.EducationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyServlet</servlet-name>
        <url-pattern>/company</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterHiredServlet</servlet-name>
        <url-pattern>/registerhirer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobDetailsServlet</servlet-name>
        <url-pattern>/job-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddJobServlet</servlet-name>
        <url-pattern>/addjob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchJobServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDeleteServlet</servlet-name>
        <url-pattern>/postdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPostJobServlet</servlet-name>
        <url-pattern>/editpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCompany</servlet-name>
        <url-pattern>/searchCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EducationServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
</web-app>
